.message-block[data-dialogtype="BackgroundDialog"]{
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    z-index: 2000;
    bottom: 0;
    top: 0;
}

.message-block[data-dialogtype="FinishedDialog"]
.message-text{
    width: 100%;
    font-size: 40px;
    background-color: black;
    position: absolute;
    padding: 0 10px;
    height: 200vh;
    top: -250%;
}

.message-block.not-completed[data-dialogtype="FinishedDialog"] .message-text::after{
    display: none;
}

.message-block[data-dialogtype="FinishedDialog"] .message-text::after{
    display: none;
}

@keyframes backgroundDialogOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.message-block[data-dialogtype="BackgroundDialog"]
.message-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    font-size: 40px;
    background-color: black;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 10px;
    height: 100%;
}

.message-block[data-dialogtype="BackgroundDialog"]
span{
    transition: none;
}

.message-name[data-dialogtype="BackgroundDialog"]{
    display: none;
}

.message-block.not-completed[data-dialogtype="BackgroundDialog"] .message-text::after{
    content: "Пропустить";
    position: absolute;
    right: 0%;
        
    top: 90%;
    overflow: hidden;
    animation: 0.3s slideUp;
    color: var(--continue-color);
    transition: color 0.2s;
    z-index: 1;
    font-size: 20px;
}

.message-block[data-dialogtype="BackgroundDialog"] .message-text::after{
    content: "Далее";
    position: absolute;
    right: 0%;

    top: 90%;
    overflow: hidden;
    animation: 0.3s slideUp;
    color: var(--continue-color);
    transition: color 0.2s;
    z-index: 1;
    font-size: 20px;
}