:root{
    --main-color: #a3147d;
}

.message-text span{
    transition: all 0.1s, color 0s;
    display: inline-block;
}

.message-text span.space{
    margin: 0 5px;
}

span[data-word="Влад"]{
    color: var(--main-color);
    font-weight: bold;
} 

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]{
    
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]{
    font-size: 23px;
    color: #a3147d;
    font-weight: bold;
    animation: didYouLike .17s alternate infinite ease-out;
    margin: 0 4px;
    margin-bottom: 8px;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="н"]{
    animation: firstLetterAngry.17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="р"]{
    animation: secondLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="а"]{
    animation: firstLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="в"]{
    animation: secondLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="и"]{
    animation: firstLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="т"]{
    animation: secondLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="с"]{
    animation: firstLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="я"]{
    animation: secondLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="нравится?"]
span[data-letter="?"]{
    animation: firstLetterAngry .17s infinite alternate;
}

div[data-text="Тебе что-то не нравится? Или почему ты себя так ведешь? Думаешь ты лучше меня? ДА? ДААА?"]
span[data-word="ведешь?"]{
    color: var(--main-color);
    font-weight: bold;
}

@keyframes whyAreYouDoingThisFly {
    0%{
        transform: none;
        color: rgb(100, 21, 21);
        text-shadow: none;
    }
    50%{
        transform: translate(0, -1000%);
        color: rgb(100, 21, 21);
        text-shadow: none;
    }
    80%{
        transform: translate(0, -1000%) scale(3);
        color: rgb(100, 21, 21);
    }
    100%{
        transform: translate(0, -1000%) scale(3);
        opacity: 0;
        color: rgb(100, 21, 21);
    }
}

@keyframes secondLetterAngry {
    from{
        transform: translateY(1px) rotate(-5deg);
    }
    to{
        transform: translateY(-1px) rotate(5deg);
    }
}

@keyframes firstLetterAngry {
    from{
        transform: translateY(-1px) rotate(5deg);
    }
    to{
        transform: translateY(1px) rotate(-5deg);
    }
}

@keyframes didYouLike {
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.1);
    }
}

/* div[data-text="Привет! Меня зовут Анна. Я создана для того, чтобы рассказать тебе о Владе"]
span[data-word="Анна."]{
    font-weight: bold;
}

div[data-text="Привет! Меня зовут Анна. Я создана для того, чтобы рассказать тебе о Владе"]
span[data-word="Владе"]:hover{
    transform: scale(1.35) translate(23%);
}

div[data-waittext="Привет! Меня зовут Анна. Я создана для того, чтобы рассказать тебе о Владе"]
span[data-waitword="Владе"]{
    transform: scale(1.5) translate(20%);
}


div[data-text="Кстати, ты можешь включить музыку и услышать мой голос нажав на кнопку слева сверху. А ещё я могу один раз это сделать за тебя"]
span[data-word="кнопку"]{
    color: #8F477D;
}


div[data-text="Но ведь музыка уже включена. Я не могу включить то, что итак работает, хихи"]
span[data-word="включена."]{
    color: var(--main-color);
    font-weight: bold;
}

div[data-text="Но мне совершенно не нравится, что ты меня назвал шизанутой, я это тебе припомню"]
span[data-waitword="припомню"]{
    transform: translateY(-900%) scale(1.5);
    transition: all 10s ease-out;
    opacity: 0;
    font-weight: bold;
    color: var(--main-color);
}

div[data-text="Здесь закончена ознакомительная версия сайта"]
span[data-word="ознакомительная"]{
    color: var(--main-color);
}

div[data-text="Почему ты до сих пор на этом сайте? Что тобою движет? Зачем?"]
span[data-word="Почему"]{
    color: var(--main-color);
}

div[data-text="Почему ты до сих пор на этом сайте"]
span[data-word="Почему"]{
    color: var(--main-color);
}

div[data-text="Почему ты до сих пор на этом сайте"]
span[data-word="Почему"]{
    color: var(--main-color);
} */