@media (max-width: 500px){
    .aboutPage{
        background-position: 30% center;
    }
    .audio{
        top: 12%;
        width: 60px;
        height: 110px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 200;
        box-shadow: none;
    }
    .girl img{
        margin-bottom: 10px;
        width: 85%;
    }
}