div[data-windowed="window"].message-block{
    animation: slide 0.5s ease-out forwards;
}

/* div[data-emotion="baffled"] img.start{
    transform: scale(1.05);
}

div[data-emotion="glitched"] img{
    image-rendering: pixelated;
}

div[data-emotion="none"] img{
    transition: all 0.5s;
    left: 90%;
} */