@media (min-width: 200px) and (max-width: 900px){
    header{
        width: 100%;
        left: 20px;
    }
    header .links{
        flex-direction: column;
        position: absolute;
        right: 0;
        align-items: flex-start;
        justify-content: space-around;
        z-index: 800;
        height: max-content;
    }

    header .links li a{
        margin-bottom: -15px;
        line-height: 40px;
        display: block;
    }

    header .logo{
        font-size: 0.5em;
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    header .links{
        margin-top: 10px;
    }
    header button{
        line-height: 40px;
        text-shadow: 1px 1px black;
        z-index: 2000;
        display: none;
    }
}}