@font-face {
    font-family: Fifaks;
    src: url("./fonts/Fifaks10Dev1.ttf");
}

@font-face {
    font-family: Undertale;
    src: url("../src/fonts/Undertale-Battle-Font.ttf");
}

div[data-scrolled="scrolled"]{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    font-family: Fifaks;
    user-select: none;
}

a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 5px black;
}

body{
    height: 200vh;
    overflow-x: hidden;
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
    background-color: #2A0035;
    overscroll-behavior: none;
}

#root{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content{
    color: #fff;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    -webkit-font-smoothing: none;
    text-shadow: 1px 1px 5px black;
}

@keyframes stroke {
    to{
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
}

svg{
    fill: rgb(241, 230, 230);
    animation: stroke 2s alternate-reverse;
}

img{
    pointer-events: none;
    user-select: none;
}

body::-webkit-slider-thumb{
     
}

body::-webkit-slider-runnable-track{
    background:rgba(0, 0, 0, .5);
}